<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Commentor | Comments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css" />
</head>

<body>
    <main>
        <section>
            <h1>The Commentor</h1>
            <div class="group">
                <button>
                    <a href="/">Leave Comment</a>
                </button>
            </div>
            <div>
                <% if (success) { %>
                    <h2 class="success-msg">
                        <%= success %>
                    </h2>
                    <%}%>
            </div>
            <% if (comments.name.length == 0) { %>
                <p>No comments have been added.</p>
                <%}%>
                <h2>Comments</h2>
                    <% for (let i = 0; i < comments.name.length; i += 1) { %>
                        <div class="comment-container">
                            
                            <p><span>
                                    <img class="logo" src="public/img/calendar.png">
                                </span>
                                <strong><%=(comments.dateAdded[i]).toString().substr(0,21)%></strong><span class="avatar"><img class="logo" src="public/img/avatar.png"><%=comments.name[i]%></span>
                            </p>
                            <p class="message"><%=comments.message[i]%></p>
                            <button class="delete">Delete</button>
                        </div>
                        <%}%>
                    </div>
        </section>
    </main>
</body>

</html>