<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Commentor | Comments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css" />
</head>

<body>
    <main>
        <section>
            <h1>The Commentor</h1>
            <p>A simple app to leave comments on the web.</p>
            <div class="group">
                    <button>
                        <a href="/">Leave Comment</a>
                    </button>
                </div>
            <div>
                <% if (success) { %>
                    <h2 class="success-msg">
                        <%= success %>
                    </h2>
                    <%}%>
            </div>
            <% if (comments.name.length == 0) { %>
                <p>No comments have been added.</p>
                <%}%>
                    <% for (let i = 0; i < comments.name.length; i += 1) { %>
                        <div class="comment-container">

                            <p><span><img class="calendar" src="public/img/calendar.png"></span>
                                <strong>
                                    <%=(comments.dateAdded[i]).toLocaleString()%>
                                </strong>
                            </p>
                            <span>Posted By:
                                <%=comments.name[i]%>
                            </span>
                            <p>Message:</p>
                            <p>
                                <%=comments.message[i]%>
                            </p>
                        </div>
                        <%}%>

                            </div>
        </section>
    </main>
</body>

</html>