<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Commentor | Comments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>
        <section>
            <h1>The Commentor</h1>
            <div class="group">
                <button>
                    <a href="/">Leave Comment</a>
                </button>
            </div>
            <h2>Comments</h2>
            <% if (comments.name.length == 0) { %>
                <p>No comments have been added.</p>
                <%}%>
                    <div class="comments-wrapper">
                        <% for (let i = 0; i < comments.name.length; i += 1) { %>
                            <div class="comment-container" data-id="<%=comments.id[i]%>">
                                <div class="comment-header">
                                    <p><img class="logo" src="public/img/calendar.png"></p>
                                    <p class="date"><%=(comments.dateAdded[i]).toString().substr(0,21)%></p>
                                    <p class="avatar"><img class="logo" src="public/img/avatar.png"><%=comments.name[i]%></p>
                                    <p class="delete-icon"><a class="fa fa-close delete"></a></p>
                                </div>

                                <p class="message"><%=comments.message[i]%></p>
                                
                            </div>
                            <%}%>
                    </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="./public/js/comments.js"></script>
</body>

</html>