<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Commentor | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/public/css/styles.css" />
</head>

<body>
    <main>
        <section>
            <h1>The Commentor</h1>
            <p>A simple app to leave comments on the web.</p>
            <blockquote>"The most democratic forum ever built."<span>- Everyone, All the Time</span></blockquote>
            <p>(Anyone can add or delete any comment.)</p>
            <div class="group">
                <button>
                    <a href="/comments">Past Comments</a>
                </button>
            </div>
            <div>
                <h2>Leave a Comment</h2>
                <form method="post" action="/">
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input class="form-input" type="text" name="name">

                        <% if (errors) { 
                            errors.filter(error => { 
                            if (error.param == 'name') {%>
                            <p class="input-error">
                                <%= error.msg %>
                            </p>
                            <% }}) %>

                                <% } %>

                    </div>
                    <div class="form-group">
                        <label class="form-label">Comment</label>
                        <textarea class="form-text-area" type="text" name="message"></textarea>
                        <% if (errors) { 
                            
                            errors.filter(error => { 
                            if (error.param == 'message') {%>
                            <p class="input-error">
                                <%= error.msg %>
                            </p>
                            <% }}) %>

                                <% } %>
                    </div>
                    <div class="form-group">
                        <input class="form-submit" type="submit" value="Leave Comment">
                    </div>
                </form>
            </div>
            <div>

            </div>
        </section>
    </main>

    

</body>

</html>